<project>
<actions/>
<description>
Cloud Foundry/Spring Source PetClinic Grails sample application (https://github.com/SpringSource/cloudfoundry-samples.git)
</description>
<logRotator>
<daysToKeep>60</daysToKeep>
<numToKeep>-1</numToKeep>
<artifactDaysToKeep>-1</artifactDaysToKeep>
<artifactNumToKeep>20</artifactNumToKeep>
</logRotator>
<keepDependencies>false</keepDependencies>
<properties>
<nectar.plugins.rbac.groups.JobProxyGroupContainer plugin="nectar-rbac@3.4">
<groups/>
</nectar.plugins.rbac.groups.JobProxyGroupContainer>
<com.cloudbees.jenkins.plugins.PublicKey plugin="cloudbees-public-key@1.1"/>
</properties>
<scm class="hudson.plugins.git.GitSCM" plugin="git@1.1.26">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<name/>
<refspec/>
<url>${repositoryUrl}</url>
</hudson.plugins.git.UserRemoteConfig>
</userRemoteConfigs>
<branches>
<hudson.plugins.git.BranchSpec>
<name>**</name>
</hudson.plugins.git.BranchSpec>
</branches>
<disableSubmodules>false</disableSubmodules>
<recursiveSubmodules>false</recursiveSubmodules>
<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
<authorOrCommitter>false</authorOrCommitter>
<clean>false</clean>
<wipeOutWorkspace>false</wipeOutWorkspace>
<pruneBranches>false</pruneBranches>
<remotePoll>false</remotePoll>
<ignoreNotifyCommit>false</ignoreNotifyCommit>
<useShallowClone>false</useShallowClone>
<buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
<gitTool>Default</gitTool>
<submoduleCfg class="list"/>
<relativeTargetDir/>
<reference/>
<excludedRegions/>
<excludedUsers/>
<gitConfigName/>
<gitConfigEmail/>
<skipTag>false</skipTag>
<includedRegions/>
<scmName/>
</scm>
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<jdk>(Default)</jdk>
<triggers class="vector"/>
<concurrentBuild>false</concurrentBuild>
<builders>
<com.g2one.hudson.grails.GrailsBuilder plugin="grails@1.6.3">
<targets>war</targets>
<name>Grails 2.2.0</name>
<grailsWorkDir/>
<projectWorkDir/>
<projectBaseDir>petclinic-grails</projectBaseDir>
<serverPort/>
<properties/>
<forceUpgrade>false</forceUpgrade>
<nonInteractive>true</nonInteractive>
<useWrapper>false</useWrapper>
</com.g2one.hudson.grails.GrailsBuilder>
</builders>
<publishers>
<com.cloudbees.plugins.deployer.DeployPublisher plugin="cloudbees-deployer-plugin@4.1">
<deployIfUnstable>false</deployIfUnstable>
<hosts>
<com.cloudbees.plugins.deployer.impl.cloudfoundry.HostImpl plugin="cloudfoundry-deploy-engine@1.1">
<targets class="java.util.Collections$UnmodifiableRandomAccessList" resolves-to="java.util.Collections$UnmodifiableList">
<c class="list">
<com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl>
<artifact class="com.cloudbees.plugins.deployer.sources.WildcardPathDeploySource" plugin="cloudbees-deployer-plugin@4.1">
<filePattern>**/*.war</filePattern>
</artifact>
<url>petclinic-grails-${account}.cloudfoundry.com</url>
<runtime>java7</runtime>
<name>petclinic-grails</name>
<memory>512</memory>
<instances>1</instances>
<framework>spring</framework>
<command/>
<start>true</start>
<environmentVariables/>
<services>
<com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl_-AppService>
<name>mysql-petclinic-grails</name>
<service>mysql</service>
<version>5.1</version>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl_-AppService>
</services>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.TargetImpl>
</c>
<list reference="../c"/>
</targets>
<cloud>https://api.cloudfoundry.com</cloud>
</com.cloudbees.plugins.deployer.impl.cloudfoundry.HostImpl>
</hosts>
</com.cloudbees.plugins.deployer.DeployPublisher>
</publishers>
<buildWrappers/>
</project>
